# Kodstil för KonCEPT

root = true

[*]
charset = utf-8
indent_style = tab
insert_final_newline = true

[{*.tex,!appendix}]
max_line_length = 80

[*.{css,yml}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[VERSION.txt]
insert_final_newline = false
