# Kodstil för KonCEPT

root = true

[*]
charset = utf-8
indent_style = tab
insert_final_newline = true
end_of_line = lf

[*.tex]
max_line_length = 80
trim_trailing_whitespace = true

[koncept/appendix*.tex]
max_line_length = off

[*.yml]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[VERSION.txt]
insert_final_newline = false
