# Kodstil för KonCEPT

root = true

[*]
charset = utf-8
insert_final_newline = true

[*.tex]
indent_style = tab

[{*.tex,!appendix}]
max_line_length = 80

[*.{css,yml}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = true

[Makefile]
indent_style = tab
