name: Bygg KonCEPT

on:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - master
    paths-ignore:
      - '**.md'

jobs:
  analysera-koden:
    name: 'Analysera koden'
    runs-on: ubuntu-24.04
    timeout-minutes: 20
    steps:
      - name: 'Checka ut koden'
        uses: actions/checkout@v6
      - name: 'Installera Ubuntu-paket'
        run: |
          sudo apt-get -qq update
          sudo apt-get --quiet --assume-yes install \
            chktex
      - name: 'Kör LaTeX-kontroll'
        continue-on-error: true
        run: chktex --output chktex.log koncept.tex
      - name: 'Skapa rapporter'
        run: |
          echo "| Statistik | Antal |" >> $GITHUB_STEP_SUMMARY
          echo "| --- | --- |" >> $GITHUB_STEP_SUMMARY
          make images_linked.txt
          echo "| Bildfiler med referenser | $(wc -l < images_linked.txt) |" >> $GITHUB_STEP_SUMMARY
          make images_unlinked.txt
          echo "| Bildfiler utan referenser | $(wc -l < images_unlinked.txt) |" >> $GITHUB_STEP_SUMMARY
          make long_lines.txt
          echo "| Kodrader längre än 80 tecken | $(wc -l < long_lines.txt) |" >> $GITHUB_STEP_SUMMARY
          make comment_lines.txt
          echo "| Kommentarrader | $(wc -l < comment_lines.txt) |" >> $GITHUB_STEP_SUMMARY
          echo "| chktex-varningar | $(cat chktex.log | grep -F 'Warning' | wc -l) |" >> $GITHUB_STEP_SUMMARY
      - name: 'Spara rapporter'
        uses: actions/upload-artifact@v5
        with:
          name: rapporter
          path: |
            images_linked.txt
            images_unlinked.txt
            long_lines.txt
            comment_lines.txt
            chktex.log
  bygg-pdf:
    name: 'Bygg PDF'
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    steps:
      - name: 'Checka ut koden'
        uses: actions/checkout@v6
      - name: 'Installera Ubuntu-paket'
        run: |
          sudo apt-get -qq update
          sudo apt-get --quiet --assume-yes install \
            texlive \
            texlive-lang-european \
            texlive-science \
            texlive-fonts-recommended \
            texlive-fonts-extra \
            latexmk \
            qpdf \
            language-pack-sv
      - name: 'Sätt systemspråk till svenska'
        run: |
          sudo locale-gen sv_SE.UTF-8
          export LANG=sv_SE.UTF-8
          export LC_ALL=sv_SE.UTF-8
      - name: 'Kopiera info om repository till filer'
        run: |
          echo $GITHUB_SHA | cut -c1-7 > SHA.tmp
          echo $GITHUB_REF_NAME > branch.tmp
      - name: 'Bygg koncept.pdf'
        run: make koncept.pdf
      - name: 'Visa programversion'
        run: |
          echo "<pre>$(latexmk -v)</pre>" >> $GITHUB_STEP_SUMMARY
          echo "<pre>$(sed -n '1p' koncept.log)</pre>" >> $GITHUB_STEP_SUMMARY
      - name: 'Optimera PDF-filen'
        run: qpdf koncept.pdf --replace-input --compress-streams=y --decode-level=generalized --recompress-flate --object-streams=generate --compression-level=9
      - name: 'Lägg till versionsinformation i filnamnet'
        run: mv koncept.pdf koncept.$(cat VERSION.txt)+b${{ github.run_id }}.$(cat SHA.tmp).pdf
      - name: 'Visa checksumma'
        run: echo "<pre>$(sha256sum *.pdf)</pre>" >> $GITHUB_STEP_SUMMARY
      - name: 'Spara artefakt'
        uses: actions/upload-artifact@v5
        with:
          name: koncept-pdf
          path: |
            koncept*.pdf
            koncept.log
  bygg-epub:
    name: 'Bygg EPUB (experimentell)'
    if: github.repository != 'SverigesSandareamatorer/SSA-Akademin'
    continue-on-error: true
    runs-on: ubuntu-24.04
    timeout-minutes: 60
    steps:
      - name: 'Checka ut koden'
        uses: actions/checkout@v6
      - name: 'Installera Ubuntu-paket'
        run: |
          sudo apt-get -qq update
          sudo apt-get --quiet --assume-yes install \
            texlive \
            texlive-extra-utils \
            texlive-lang-european \
            texlive-science \
            texlive-fonts-recommended \
            texlive-fonts-extra \
            tidy \
            language-pack-sv
      - name: 'Sätt systemspråk till svenska'
        run: |
          sudo locale-gen sv_SE.UTF-8
          export LANG=sv_SE.UTF-8
          export LC_ALL=sv_SE.UTF-8
      - name: 'Kopiera info om repository till filer'
        run: |
          echo $GITHUB_SHA | cut -c1-7 > SHA.tmp
          echo $GITHUB_REF_NAME > branch.tmp
      - name: 'Lägg in hotfix för EPUB på Ubuntu 24.04'
        run: |
          mv .github/tex4ebook-tidyconf.conf ./tidyconf.conf
          mv .github/rungs.txt /usr/local/bin/rungs
          chmod 755 /usr/local/bin/rungs
      - name: 'Bygg koncept.epub'
        continue-on-error: true
        run: make koncept.epub
      - name: 'Visa programversion'
        run: |
          echo "<pre>$(tex4ebook --version)</pre>" >> $GITHUB_STEP_SUMMARY
          echo "<pre>$(sed -n '1p' koncept.log)</pre>" >> $GITHUB_STEP_SUMMARY
      - name: 'Lägg till versionsinformation i filnamnet'
        continue-on-error: true
        run: mv koncept.epub koncept.$(cat VERSION.txt)+b${{ github.run_id }}.$(cat SHA.tmp).epub
      - name: 'Visa checksumma'
        run: echo "<pre>$(sha256sum *.epub)</pre>" >> $GITHUB_STEP_SUMMARY
      - name: 'Spara artefakt'
        uses: actions/upload-artifact@v5
        with:
          name: koncept-epub
          path: |
            koncept*.epub
            koncept.log
