name: Testa webbadresser

on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron: "30 03 20 * *"

jobs:
  testa-webbadresser:
    if: github.repository == 'SverigesSandareamatorer/SSA-Akademin'
    name: 'Testa webbadresser'
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v5
      - uses: lycheeverse/lychee-action@v2.7.0
        with:
          fail: true
          checkbox: false
          args: "--max-concurrency 3 --accept 200,429 --retry-wait-time 35 --no-progress './**/*.md' './**/*.tex' './**/*.bib'"
